body{
  margin: 0;
}

.clear{
  clear: both;
}

.nav-container{
  padding: 0 40px;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
}

.nav-container menu{
  margin-left: 20rem;
}

.nav-container menu a {
  padding: 0 20px;
}


#content{
  margin: 96px auto 64px;
}

.s404{
  margin: 3rem auto;
  text-align: center;
}

.list-page{
  margin: 0 auto;
  width: 60%;
  list-style: none;
}


.container{
  min-width: 20rem;
  margin: 0 auto;
}

ul.list-page li{
  padding: 12px;
}
ul.list-page li a{
  text-decoration: none;
  outline: none;
  color:  rgba(107,114,128,1);
}

/*single-page*/
#single-page{
  width: 60%;
  margin: 64px auto 0;
}

#single-page .meta {
  font-size: 12px;
}

#single-page .pre-next {
  margin-bottom: 64px;
}
#single-page .next {
  float: right;
}

aside.toc{
  float: right;
  position: fixed;
  top: 96px;
  right: 20%;
}

#single-page .main{
  width: 72%;
  display: inline-block;
}

#single-page h1,h2,h3,h4,h5,h6  {
  padding-top:72px; margin-top:-72px;
}

#TableOfContents ul {
  list-style: none;
  text-decoration: none;
}

#TableOfContents li {
  padding: 2px 0;
}

#TableOfContents li a{
  font-size: 13px;
  color: #6b7280;
  text-decoration: none;
}
#TableOfContents li.active a{
  color: #0c0a0a;
}

#TableOfContents li a:hover{
  color: #111827;
}

